<mtapp:setting id="path_setting" label="rev-manifest.jsonパス"
    hint="" show_hint=1>
    <input type="text" name="path_setting" id="path_setting"
        value="<mt:GetVar name="path_setting">" />
</mtapp:setting>